<configuration>
    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%25.25logger{25}] [%-5level]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Central is a mess, there's too many errors to log them all. -->
    <logger name="org.jboss.shrinkwrap.resolver.impl.maven.logging.LogRepositoryListener" level="ERROR"/>
    <logger name="org.jboss.shrinkwrap.resolver.impl.maven.logging.LogTransferListener" level="ERROR"/>

    <root level="info">
        <appender-ref ref="out"/>
    </root>
</configuration>