/* search */
.search-box, .fts-form {
    max-width: 60em;
    font-family: "DejaVu Sans", sans-serif;
    margin: 1em 0;
}
.search-dialog {
    margin: 0 auto;
}

.search-box input, .fts-form input[type=text] {
    width: 100%;
    height: 2em;
}

.search-box li {
    list-style: none;
    width: 100%;
}

.search-box ul {
    width: 100%;
}

.search-box li a {
    padding: .2em;
    display: block;
    width: 100%;
}

.search-box li a:hover {
    background: #eee;
}

.search-dialog {
    margin-top: 2em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1em;
}

.search-dialog > * {
    box-sizing: border-box;
}

.fts-result:first-child {
    border: 0;
}
.fts-result {
    width: auto;
    border-top: 1px solid #ccc;
    padding: 1em 0;
}
.fts-result code {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
    display: block;
}
.fts-result code:last-child {
    margin: 0;
    border: 0;
    padding: 0;
}