/* search */
.search-box, .fts-form {
    max-width: 60em;
    font-family: "DejaVu Sans", sans-serif;
    margin: 1em 0;
}
.search-dialog {
    margin: 0 auto;
}

.search-box input, .fts-form input[type=text] {
    width: 100%;
    height: 2em;
}

.search-box li {
    list-style: none;
    width: 100%;
}

.search-box ul {
    width: 100%;
}

.search-box li a {
    padding: .2em;
    display: block;
    width: 100%;
}

.search-box li a:hover {
    background: #eee;
}

.search-dialog {
    margin-top: 2em;
    border-radius: 2px;
    padding: 1em;
}

.search-dialog > * {
    box-sizing: border-box;
}

.fts-result:first-child {
    border: 0;
}
.fts-result {
    width: auto;
    border-top: 1px solid;
    padding: 1em 0;
}
.fts-result code {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid;
    display: block;
}
.fts-result code:last-child {
    margin: 0;
    border: 0;
    padding: 0;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.search-spinner-wrapper {
    width: 100%;
    position: relative;
}

.spinner {
    display: none;
}

.loading ~ .spinner {
    right: 0;
    position: absolute;
    top: 50%;
    display: block;
    border: solid black;
    border-width: 1px 0 0 1px;
    width: 1em;
    height: 1em;
    margin: -.5em .5em 0 0;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    background: white;
    box-sizing: border-box;
}