* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "DejaVu Sans", sans-serif;
}

#content > div {
    max-width: 80em;
    margin: 0 auto;
    display: block;
    padding: 1em 0.2em;
}

#header {
    top: 0;
    background-color: #222;
    color: #aaa;
    width: 100%;
}

#header div {
    max-width: 80em;
    margin: 0 auto;
    padding: .5em 0;
}

#header h1 {
    font-size: 1.5em;
    display: inline;
}

#header a {
    color: inherit;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* For desktops, scroll only the content */
@media (min-width: 600px) {
    #wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #content {
        overflow-y: scroll;
        padding: 1em;
    }
}

h1 {
    font-size: 1.5em;
    margin-bottom: .333em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: .25em;
}

a:visited, a:link {
    color: blue;
}

li {
    list-style-type: none;
}

.dialog-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
    display: none;
}

.dialog-wrapper.dialog-visible {
    display: block;
}