* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    font-family: "DejaVu Sans", sans-serif;
}

#wrapper {
    max-width: 80em;
    margin: 0 auto;
    display: block;
    padding: 1em 0.2em;
}

@media (min-width: 600px) {
    #wrapper {
        padding: 1em;
    }
}

h1 {
    font-size: 1.5em;
    margin-bottom: .333em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: .25em;
}

a:visited, a:link {
    color: blue;
}

li {
    list-style-type: none;
}

.dialog-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
    display: none;
}

.dialog-wrapper.dialog-visible {
    display: block;
}